<h2 class="page-header text-center">Login</h2>

<form action="/sessions" method="post" role="form">
	<div class="form-group">
		<input type="text" placeholder="email address" name="user[email]" class="form-control"/>
	</div>
	<div class="form-group">
		<input type="password" placeholder="password" name="user[password]" class="form-control"/>
	</div>
	<div class="form-group">
		<input type="submit" value="Login" class="btn btn-primary"/>
	</div>
</form>