<h2 class="page-header text-center">Welcome, <%= @user.name %></h2>
<ul>
	<li><%= link_to "Add API", new_api_path %></li>
	<li><%= link_to "Add mashup", new_mashup_path %></li>
	<li><%= link_to "Add user", new_user_path %></li>
</ul>