<% if current_user %>	
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "New", new_api_path %></li>
	</ul>
<% end %>
<h2 class="page-header text-center">APIs</h2>
<table class="table table-hover">
	<thead>
		<th>Name</th>
		<th>URL</th>
		<th>Mashups</th>
	</thead>
	<tbody>
	<% @apis.each do |api| %>
		<tr>
			<td><%= link_to api.name, api_path(api) %></td>
			<td><%= link_to api.url, api.url%></td>
			<td><%= api.mashups.count %></td>
		</tr>
	<% end %>
	</tbody>
</table>