<div class="jumbotron text-center">
	<h2>API Mashup Challenge</h2>
	<p>Do you have what it takes to accept the challenge?</p>
	<p><%= link_to "Challenge me!", challenge_path, class: "btn btn-primary btn-lg"%></p>
</div>

<p>We've all been there. You're itching to work on a new project, but fresh out of ideas. What should you spend your Saturday night hacking away at? <%= link_to "Try one of our challenges!", challenge_path %></p>
<p>Once you've built out your app, don't forget to <%= link_to "let us know", new_mashup_path %>! Show off your rad mashup skills with other challengers.</p>
<h5>Good luck, coders!</h5>