<table class="table table-hover">
	<thead>
		<th>Name</th>
		<th>URL</th>
		<th>APIs Used</th>
	</thead>
	<tbody>
	<% @mashups.each do |mashup| %>
		<tr>
			<td><%= link_to mashup.name, mashup_path(mashup) %></td>
			<td><%= link_to mashup.url, mashup.url%></td>
			<td><%= mashup.apis.count %></td>
		</tr>
	<% end %>
	</tbody>
</table>