<header class="page-header">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to "APIs", apis_path %></li>
    <li><%= link_to "Mashups", mashups_path %></li>
    <li><%= link_to "Add Mashup", new_mashup_path %></li>
  </ul>
  <h3 class="text-muted">API Mashup Challenge</h3>
</header>